* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin-inline: 20px;
}
.first-list {
    display: flex;
    list-style-type: none;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

 a {
   text-decoration: none; 
}

li a {
    font-size: 20px;
    color: black;
}

.sign-up {
    background-color: rgb(240, 50, 50);
    padding-inline: 15px;
    padding-block: 5px;
    border-radius: 15px;
    margin-left: 650px;
}

.sign-up:hover {
    background-color: rgb(250, 103, 103);
}

.my-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 30px; 
    background-color: #f5f5dc;
    padding-block: 40px ; 
}

.title {
    font-size: 45px;
}

span {
    color: rgb(85, 85, 238);
}

p {
    font-size: 20px;
    font-family: "Roboto";
}

img {
    padding-left: 20px;
    border-radius: 55%;
}

.second-list {
    margin-left: 40px;
}